* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background-color: #e2e2e2;
    font-family: "Verdana", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link {
    font-size: 24px;
}

a {
    color: #4d4948;
}

a:hover {
    color: green;
}


#top-header {
    background-color: #0d0c16;
    height: 80px;
    display: flex;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    width: 100%;
    color: white;
    margin-left: 15%;
}

.hero {
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
}

.recipes {
    width: 70%;
    display: flex;
    justify-content: center;
}

.recipe-box {
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe-box img {
    object-fit: contain;
}